
{{> header}}
{{> navbar}}
    <h2>Bienvenido a la mi pagina.</h2> 
            <p>Aqui veremos algunos pintores que mas me gustan, su historia y sus obras.</p>
            <h3>Conformacion de las paginas:</h3>  
            <li>Pintor.</li>
            <li>Su imagen.</li>
            <li>La biografia de su vida.</li>
            <li>5 obras que mas me llaman la atencion de el pintor.</li>
            <br>
            <h2>Pintores.</h2>
            <img src="images/picasso.jfif" alt="picasso" width="100px" height="100px">
            <img src="images/leo.jfif" alt="leonardo" width="100px" height="100px">
            <img src="images/gogh.jpg" alt="Gogh" width="100px" height="100px">
            <img src="images/michel.jpg" alt="Michel" width="100px" height="100px">
        </main>
{{> footer}}