
{{> header}}
{{> navbar}}
                <h1>Leonardo da Vinci</h1>
                <p class="tex1">En esta pagina veremos acerca de el pintor Leonardo da Vinci (1452-1519).</p>
            
                <img src="images/leo.jfif" alt="Leonardo" width="500px" height="250px">
            
            <hr>
            <i><h2>Biografia de la vida.</h2></i>
            <p class="tex2">Prototipo absoluto del hombre humanista 
del Renacimiento, Leonardo da Vinci ejercerá de 
pintor, escultor, ingeniero, músico, geómetra, 
teórico…un visionario cuya realidad no será marco 
adecuado para el desarrollo completo de su capacidad, 
siendo quizá ese el motivo por el que su figura ha
llegado a la actualidad envuelta en un halo de misterio.
            </p>
            <p class="tex2">A lo largo de su vida, como se ha señalado 
ya, su interés se centrará en materias diversas, 
pero será a la pintura a la que dedique sus mayores esfuerzos. 
A pesar de que su obra se puede considerar perteneciente 
a comienzos del Cinquecento, el espíritu de Leonardo 
es atemporal, no existiendo límites capaces de encorsetar 
la definición de su arte.
            </p>
            <hr>
            <i><h2>Pinturas que mas me gustan.</h2></i>
            <u><h4>La mona lisa.</h4></u>
            <img src="images/monalisa.jpg" alt="monalisa" width="450px" height="350px">
            <hr>
            <u><h4>El hombre de vitruvio.</h4></u>
            <img src="images/hombre.jfif" alt="hombre" width="450px" height="350px">
            <hr>
            <u><h4>La ultima cena.</h4></u>
            <img src="images/cena.jpg" alt="cena" width="450px" height="350px">
            <hr>
            <u><h4>La anunciacion.</h4></u>
            <img src="images/anunciacion.jfif" alt="anunciacion" width="450px" height="350px">
            <hr>
            <u><h4>Ginebra de Benci.</h4></u>
            <img src="images/ginerba.jpg" alt="Ginebra" width="450px" height="350px">

{{> footer}}