
{{> header}}
{{> navbar}}
                <h1>Pablo Picasso</h1>
                <p class="tex1">En esta Pagina veremos a el pintor Pablo Picasso (1881 - 1973).</p>
        
                <img src="images/picasso.jfif" alt="picasso" width="500px" height="250px">
            
            <hr>
            <i><h2>Biografia de la vida.</h2></i>
            <p class="tex2">Pablo Ruiz Picasso (n. Málaga, España; 25
de octubre de 1881 - f. Mougins, Francia; 8 de
abril de 1973), conocido como Pablo Picasso,
fue un pintor y escultor español, creador,
junto con Georges Braque y Juan Gris, del
movimiento cubista.</pre>
            <p class="tex2">Considerado uno de los mayores artistas del
siglo XX, participó desde la génesis en
muchos movimientos artísticos que se
propagaron por el mundo y ejercieron una
gran influencia en otros grandes artistas de su
tiempo. Incansable y prolífico, pintó más de
dos mil obras actualmente presentes en
museos y colecciones de toda Europa y del
mundo. Además, abordó otros géneros como
el dibujo, el grabado, la ilustración de libros, 
la escultura, la cerámica y el diseño de
escenografía y vestuario para montajes
teatrales.</p>
            <p class="tex2">En lo político, Picasso se declaraba pacifista y
comunista. Fue miembro del Partido
Comunista Francés hasta su muerte,
el 8 de abril de 1973 en Notre-Dame-de-Vie
(Mougins, Francia) a los 91 años. Está
enterrado en el parque del castillo de
Vauvenargues (Bouches-du-Rhone). 
            </p>
            <hr>
            <i><h2>Pinturas que mas me gustan.</h2></i>
            <u><h4>Mujer frente a el espejo.</h4></u>
            <img src="images/espejo.jfif" alt="mujer" width="450px" height="350px">
            <hr>
            <u><h4>Mujer hacia vuelta la derecha.</h4></u>
            <img src="images/mujer.jpg" alt="mujer" width="450px" height="350px">
            <hr>
            <u><h4>Musical instruments.</h4></u>
            <img src="images/musical.jpg" alt="musica" width="450px" height="350px">
            <hr>
            <u><h4>El viejo guitarrista ciego.</h4></u>
            <img src="images/guitarrista.jpg" alt="guitarrista" width="450px" height="350px">
            <hr>
            <u><h4>Señoritas de avignon.</h4></u>
            <img src="images/avignon.jpg" alt="avignon" width="450px" height="350px">
            
{{> footer}}